# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Local .terraform directories
**/.terraform/*
# .tfstate files
*.tfstate
*.tfstate.*
.terraform.lock.hcl
# Ignore any .tfvars files that are generated automatically for each Terraform run. Most
# .tfvars files are managed as part of configuration and so should be included in
# version control.
#
*.tfvars
# Ignore override files as they are usually used to override resources locally and so
# are not checked in
override.tf
override.tf.json
*_override.tf
*_override.tf.json

bin/

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
*.coverprofile

# Dependency directories (remove the comment below to include it)
.vscode

# Go workspace file
go.work

# Draw.io temporary files
*.drawio.dtmp
*.drawio.bkp

# IDEs
.idea


# experiments directory
workdir/