name: lint
on:
  push:
    branches:
      - main
  pull_request:
permissions:
  contents: read
jobs:
  golangci:
    name: golangci-lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11
      - uses: actions/setup-go@3041bf56c941b39c61721a86cd11f3bb1338122a
        with:
          go-version-file: ./go.mod
      - uses: golangci/golangci-lint-action@2226d7cb06a077cd73e56eedd38eecad18e5d837
        with:
          version: latest
  ensure-fmt:
    name: ensure-fmt
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11
      - uses: actions/setup-go@3041bf56c941b39c61721a86cd11f3bb1338122a
        with:
          go-version-file: ./go.mod

      - name: Verify LF
        run: |
          go install github.com/iuthere/dos2unix@latest
          dos2unix -r -w *
          git diff --no-ext-diff --quiet --exit-code

      - name: Verify terraform fmt
        run: |
          sudo snap install --classic terraform
          terraform fmt -recursive
          git diff --no-ext-diff --quiet --exit-code
